/* globals styles */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@font-face {
    font-family: 'Abril Fatface';
    src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
}
@font-face {
    font-family: 'Instrument Serif';
    src: url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
h1{
    font-family: 'Instrument Serif';
}
a{
    text-decoration: none;
    color: black;
}
.HH__body{
   background-image: radial-gradient(circle,white,rgba(255, 192, 203, 0.384),white)
}
.HH__margin{
    margin: 0 4rem;
}
@media screen and (min-width:300px) and (max-width:550px) {

    .HH__margin{
        margin: 0 .5rem;
    }
}
@media screen and (min-width:551px) and (max-width:750px) {

    .HH__margin{
        margin: 0 2rem;
    }
}
@media screen and (min-width:751px) and (max-width:1000px) {

    .HH__margin{
        margin: 0 3rem;
    }
}