


.HH__jumbostron{
  display: flex;
  padding: 4rem 0;
  column-gap: 50px;
  & #HH__jumbostron--textImage{
    width: 80px;
    height: 50px;
  }
  & main{
    width: 50%;
    justify-content: space-between;
    // align-items: center;
  }
  & main h1{
    width: 21ch;
    font-size: 5rem;
    word-spacing: 20px;
    line-height: 120%;
  }
}
.HH__jumbostron-side-images-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -60px;
  & .HH__jumbstron-side-image-row1{
    display: flex;
    width: 400px;
    height: 150px;
    column-gap: 30px;
    align-items: flex-end;
    margin: 1rem;
  }
  & .HH__jumbstron-side-image-row1 img{
    width: 100%;
    border-radius: 20px;
  }
  & .HH__jumbstron-side-image-row1 img:nth-child(1){
    width: 70%;
    border-radius: 20px;
    height: 100px;
  }
  & .HH__jumbstron-side-image-row2{
    width: 500px;
    display: flex;
    column-gap: 30px;
  }
}
.HH__jumbstron-side-image-row2 figure:first-child{
  width: 35%;
  display: flex;
  flex-direction: column;
  height: 300px;
  row-gap: 20px;
  & img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  & img:first-child{
    height: 90px;
  }
  & img:last-child{
    border-radius: 15px;
  }
}
.HH__jumbstron-side-image-row2 figure:last-child{
  width: 65%;
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;
  & img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    z-index: 1;
  }
  // & img::after{
  //   content: '';
  //   display: block;
  //   width: 1100px;
  //   height: 100px;
  //   background-color: rgb(230, 151, 5);
  //   z-index: 2;
  // }
  & p{
    font-size: 1.8rem;
    position: absolute;
    top: 280px;
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    color: rgb(228, 150, 5);
  }
  & p::after{
    content: '1956';
    display: block;
    transform: rotate(90deg);
    position: absolute;
    top: 100px;
    left: -50px;
    font-size: 5rem;
    // font-family: 'Fredericka the Great';
    color: rgba(128, 128, 128, 0.507);
  }
  & span{
    width: 50px;
    height: 50px;
    background-color: rgb(216, 140, 0);
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 140px;
    right: 0;
    transform: translateY(50%) translateX(20%);
  }
}


// about style
.HH__about--kitchen{
  --image-raduis: 15px;
 display: flex;
 min-height: 80vh;
 column-gap: 50px;
 padding: 2rem;
 & #HH__about--image{
  width: 30%;
 }
 & #HH__about--image img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
 }
 & #HH__about--content{
  width: 70%;
  height: 100%;
 }
 & .HH__about--row1,
 & .HH__about--row2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: auto;
  align-items: flex-start;
 }
 & .HH__about--row1{
  margin: 0 0 1.5rem 0;
 }
 & .HH__about--row1 main{
  width: 80%;
 }
 & .HH__about--row1 main h3{

 }
 & .HH__about--row1 main h1{
  font-size: 3rem;
  width: 24ch;
  line-height: 120%;
  margin: 1rem 0;
  word-spacing: 15px;
  padding: .5rem;
 }
 & .HH__about--row1 main p{
  width: 60ch;
  line-height: 180%;
  font-size: .9rem;
 }
 & .HH__about--row1 figure{
  width: 300px;
  height: 200px;
 }
 & .HH__about--row1 figure img{
  width: 100%;
  height: 100%;
  border-radius: var(--image-raduis);;
 }

 & .HH__about--row2 {
  align-items: center;
 }
 & .HH__about--row2 #HH__kitchen--offers{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 20px;
  column-gap: 30px;
 }
 & #HH__kitchen--offers p{
  padding: .5rem 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
 }
 & #HH__kitchen--offers button{
  padding: .5rem 1rem;
  background-color: black;
  color: whitesmoke;
  border: transparent;
  border-radius: 20px;
 }
//  
 & .HH__about--row2 figure{
  width: 350px;
  height: 200px;
  margin-right: 2rem;
 }
 & .HH__about--row2 figure img{
  width: 100%;
  height: 100%;
  border-radius: var(--image-raduis);
 }
}




// HH__meal--menu
.HH__menu{
 & #HH__menu--title{
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem;
 }
 & .HH__menu--option{
  display: flex;
  justify-content: space-evenly;
  
 }
 & .options{
  opacity: 0.5;
  text-align: center;
  padding: 1rem;
  display: inline-flex;
 }
 & .options:not(.options:last-child)::after{
  content: '';
  display: block;
  width: 2px;
  height: 30px;
  background-color: black;
  position: relative;
  left: 100%;
 }
 & .HH__meal--billboard{
  display: flex;
  column-gap: 20px;
  margin: 2rem 0;
 }
 & .HH__meal--grid{
  height: 470px;
  background-color: black;
  border-radius: 25px;
 }
 & .HH__discount--offers div{
  padding: 1rem;
  background-image: url('https://images.unsplash.com/photo-1617196034564-65baf56380ab?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y3VzaW5lfGVufDB8fDB8fHww');
  color: white;
  margin: 0 0 1.5rem 0;
  background-position: left;
  border-radius: 15px;
 }
 & .HH__discount--offers div h3{
  padding: .5rem 0;
  font-size: 1rem;
 }
 & .HH__discount--offers div p span{
  font-size: 2rem;
  font-weight: 500;
 }
 & .HH__discount--offers div p,
 & .HH__discount--offers div p span{
  line-height: 150%;
 }
}
// HH__testimonies
.HH__testimonies{
 display: flex;
 justify-content: space-between;
 & div{
  padding: 2rem;
  color: white;
  width: 250px;
  border-radius:100px;
  text-align: center;
  margin: 4rem 0;
  background-position: center;
 }
 & div h1{
  font-size: 2rem;
  padding: 1rem;
 }
}






// HH__newsletter
.HH__newsletter{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 4rem 0 5rem 0;
 border-top: 1px solid;
 & h3{
  letter-spacing: 4px;
 }
 & main{
  width: 50%;
 }
 & aside{
  width: 35%;
  display: flex;
  position: relative;
 }
 & main p{
  line-height: 180%;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 0;
 }
 & aside input{
  width: 100%;
  padding: 1rem;
  border: transparent;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  box-shadow: 2px 2px 40px rgba(255, 192, 203, 0.377),
 }
 & aside input::before{
  content: 'uu';
  display: block;
  background-color: rgb(0, 0, 0);
  font-size: 2rem;
 }
 & aside label{
  position: absolute;
  right: -4px;
  top: -1px;
  background-color: rgb(207, 136, 4);
  padding: 1.1rem 1.8rem;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  transition: all .5s ease;
 }
 & aside label:hover{
  background-color: black;
 }
}


// HH__images styles
.HH__images figure {
 display: flex;
 width: 100%;
 position: relative;
}

.HH__images figure img {
 width: 18%;
 height: auto;
 transition: transform 2s ease-in-out;

 &:hover {
   z-index: 1;
   transform: scale(1.2);
 }
}

$images: 6;

@for $i from 1 through $images {
 .HH__images figure img:nth-child(#{$i}) {
   &:hover {
     z-index: 1;
     transform: scale(1.2);
   }
 }
}
